{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inicio 1234{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <header>
        <p>Provincialización del Chaco</p>
    </header>
    <div class="navegador">
        <nav class="nav_principal">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="/comojugar">¿Como juego?</a></li>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="#">Nosotros</a></li>
            </ul>
        </nav>
    </div>

    {% block body %}
    {% endblock %}

    
    
</body>

</html>